{% extends "base.html" %}
{% block content %}

<body>
<!-- header -->
	<div class="header">
		<div class="container">
			<div class="w3layouts_logo">
				<a href="index.html"><h1>One<span>Movies</span></h1></a>
			</div>
			<div class="w3_search">
				<form action="#" method="post">
					<input type="text" name="Search" placeholder="Search" required="">
					<input type="submit" value="Go">
				</form>
			</div>
		</div>
	</div>
<!-- //header -->
<!-- bootstrap-pop-up -->
	<script>
		$('.toggle').click(function(){
		  // Switches the Icon
		  $(this).children('i').toggleClass('fa-pencil');
		  // Switches the forms  
		  $('.form').animate({
			height: "toggle",
			'padding-top': 'toggle',
			'padding-bottom': 'toggle',
			opacity: "toggle"
		  }, "slow");
		});
	</script>
<div class="single-page-agile-main">
<div class="container">
		<!-- /w3l-medile-movies-grids -->
			<div class="agileits-single-top">
				<ol class="breadcrumb">
				  <li><a href="index.html">Home</a></li>
				  <li class="active">Movie</li>
				</ol>
			</div>
			<div class="single-page-agile-info">
                   <!-- /movie-browse-agile -->
                           <div class="show-top-grids-w3lagile">
				<div class="col-sm-8 single-left">
					<div class="song">
						<div class="song-info">
							<h3>{{person['name']}}</h3>
					</div>
						<div class="video-grid-single-page-agileits video_img">
							<div data-video="dLmKio67pVQ" id="video"> <img src={{person['pic_url']}}" alt="" class="img-responsive" /> </div>
						</div>
					</div>
				</div>
				<div class="col-md-4 single-right">
					<h3>Filmography</h3>
					<div class="single-grid-right">
						{% for movie in movies %}
						<div class="single-right-grids">
							<div class="col-md-4 single-right-grid-left">
								<a href="/movies/{{movie['id']}}"><img src={{movie['small_pic_url']}} alt="" /></a>
							</div>
							<div class="col-md-8 single-right-grid-right">
								<a href="/movies/{{movie['movie_id']}}" class="title"> {{movie['title']}}
								</a>
								<p class="author"><a href="#" class="author">Released date  {{movie['released']}}</a></p>
								<p class="views">IMDB rating  {{movie['rating_wa']}} </p>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	 <div style="background-color: #FFE4C4;color:#000000;padding:8px;">
		 <table>
			 <tr>
			  <td><h6></h6>Personal info:</h6>
				 <ul style="list-style-type:none;......">
					 <li><span style="font-size: 16px; padding-right: 10px;">Birthday:</span> {{person['birthdate']}}</li>
					 <li><span style="font-size: 16px; padding-right: 10px;">Profession:</span> {{person['prof']}}</li>
				 </ul>
			   </td>
			 </tr>
		 </table>
	  </div>

	 <div style="background-color: #FFE4C4;color:#000000;padding:8px;">
		 <table>
			 <tr>
			  <td><h6></h6>Publicity listings:</h6>
				 <ul style="list-style-type:none;......">
					 <li><span style="font-size: 16px; padding-right: 10px;">Interviews:</span> {{person['interviews']}}</li>
					 <li><span style="font-size: 16px; padding-right: 10px;">Articles:</span> {{person['articles']}}</li>
					 <li><span style="font-size: 16px; padding-right: 10px;">Pictorials:</span> {{person['pictorials']}}</li>
					 <li><span style="font-size: 16px; padding-right: 10px;">Magazines:</span> {{person['magazines']}}</li>
				 </ul>
			   </td>
			 </tr>
		 </table>
	  </div>
	 <div style="background-color: #FFE4C4;color:#000000;padding:8px;">

<!-- footer -->
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->



{% endblock %}
